<div class="container">
    <h2>Friends: </h2>
    <table class="table table-bordered table-hover table-sm table-dark">
        <thead>
            <tr>
                <th>Username</th>
            </tr>
        </thead>
        <tbody ng-repeat="user in friendsVm.user.friends">
            <th>
                {{user}}
            </th>
            <th>
                <button type="button" ng-click="friendsVm.removeFriend(user)" class="btn btn-danger">Remove from friends</button>
            </th>
        </tbody>
    </table>
    <h2>Requests: </h2>
    <table class="table table-bordered table-hover table-sm table-dark">
        <thead>
            <tr>
                <th>Username</th>
                <th>Accept/Decline</th>
            </tr>
        </thead>
        <tbody ng-repeat="user in friendsVm.user.friendReq">
            <th>
                {{user}}
            </th>
            <th>
                <button type="button" ng-click="friendsVm.acceptReq(user)" class="btn btn-danger">Accept</button>
                <button type="button" ng-click="friendsVm.declineReq(user)" class="btn btn-danger">Decline</button>
            </th>
        </tbody>
    </table>
</div>
<div class="container">
    <h2>Add new friend: </h2>
    <form class="navbar-form navbar-left">
        <span class="form-group">
            <input type="text" ng-class="form-control" placeholder="Search" ng-model="friendsVm.searchText">
            <button type="button" class="btn btn-default" ng-click="friendsVm.search()">
                <i class="fa fa-search"></i>Search
            </button>
        </span>
        <br>
    </form>
    <div class="container">
    	<table class="table table-bordered table-hover table-sm table-dark">
	        <thead>
	            <tr>
	                <th>Username</th>
	                <th>Firstname</th>
	                <th>Lastname</th>
	                <th>Send Request</th>
	            </tr>
	        </thead>
	        <tbody ng-repeat="user in friendsVm.searchResults">
	            <th>
	                {{user.username}}
	            </th>
	            <th>{{user.firstName}}</th>
	            <th>{{user.lastName}}</th>
	            <th>
	                <button type="button" ng-click="friendsVm.sendReq(user.username)" class="btn btn-danger">Send Request</button>
	            </th>
	        </tbody>
    	</table>
    </div>
</div>